body,h1,h2,h3,h4,h5,h6,form,input,ul,ol,li,p{
  margin:0;
  padding:0;
  list-style:none;
}
*{
  font-family:"微软雅黑","宋体","sans-serif";
  font-size:12px;
  color:#333;
}
a{
  text-decoration:none;
}
img{
border:0;
}
input{border:none;}